{% extends 'app/top.html' %}

{% block content %}

<style type="text/css">
    .warp{
    animation: fadein 1s forwards;
    }
    
    @keyframes fadein {
        0% {opacity: 0}
        100% {opacity: 1}
    }    
</style>

<div class="warp">

<center>
    <h4>以下の内容で予約します。</h4>
    <img src="/media/279+socio.jpg" width="10%" height="10%" border="0" />
    <h4>日程：{{ view.kwargs.year }}年{{ view.kwargs.month }}月{{ view.kwargs.day }}日</h4>
    <h4>座席：{{ seatno }}</h4>
    <form action="" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">送信</button>
    </form>
</center>

</div>
{% endblock %}
