{% extends 'app/top.html' %}

{% block content %}

<style type="text/css">
    .card{
    animation: fadein 1s forwards;
    }
    
    @keyframes fadein {
        0% {opacity: 0}
        100% {opacity: 1}
    }    
</style>

<div class="card">
    <h2 class="card-header">{{ base.name }} 座席</h2>
    <h4>　{{ start_day|date:"Y/n/j" }} - {{ end_day|date:"Y/n/j" }}</h4>
    <!-- 拠点の座席表表示 -->
    {% if base.map %}
    <center>
    <p class="nav-item"><img src="{{ base.map.url }}" alt=""></p>
    </center>
    {% endif %}
    <table class="table table-bordered text-center" style="table-layout: fixed;width: 100%" border="0">
        <tr>
            <td><a href="{% url 'app:calendar' base.pk before.year before.month before.day %}">前週</a></td>
            {% for day in days %}
                {% if day in public_holidays %}
                    <!-- 祝日の際の設定表示設定 -->
                    <th style="background-color: lightyellow">
                        {% if base.pk == 1 %}
                            <a href="{% url 'app:SeatMap1' base.pk day.year day.month day.day %}">{{ day | date:"d(D)" }}</a>
                        {% elif base.pk == 2 %}
                            <a href="{% url 'app:SeatMap2' base.pk day.year day.month day.day %}">{{ day | date:"d(D)" }}</a>
                        {% endif %}
                    </th>
                {% elif day.weekday == 5 %}
                    <th style="background-color: rgb(199, 231, 250)">
                        {% if base.pk == 1 %}
                            <a href="{% url 'app:SeatMap1' base.pk day.year day.month day.day %}">{{ day | date:"d(D)" }}</a>
                        {% elif base.pk == 2 %}
                            <a href="{% url 'app:SeatMap2' base.pk day.year day.month day.day %}">{{ day | date:"d(D)" }}</a>
                        {% endif %}
                    </th>
                {% elif day.weekday == 6 %}
                    <th style="background-color: rgb(252, 204, 204)">
                        {% if base.pk == 1 %}
                            <a href="{% url 'app:SeatMap1' base.pk day.year day.month day.day %}">{{ day | date:"d(D)" }}</a>
                        {% elif base.pk == 2 %}
                            <a href="{% url 'app:SeatMap2' base.pk day.year day.month day.day %}">{{ day | date:"d(D)" }}</a>
                        {% endif %}
                    </th>
                {% else %}
                    <th style="background-color: rgb(215, 247, 215)">
                        {% if base.pk == 1 %}
                            <a href="{% url 'app:SeatMap1' base.pk day.year day.month day.day %}">{{ day | date:"d(D)" }}</a>
                        {% elif base.pk == 2 %}
                            <a href="{% url 'app:SeatMap2' base.pk day.year day.month day.day %}">{{ day | date:"d(D)" }}</a>
                        {% endif %}
                    </th>
                {% endif %}
            {% endfor %}
            <td><a href="{% url 'app:calendar' base.pk next.year next.month next.day %}">次週</a></td>
        </tr>

        {% for seat, schedule in calendar.items %}
            <tr style="font-size:15px">
                <td>
                    <b>{{ seat }}</b>
                    </td>
                        {% for dt, schedule in schedule.items %}
                            <td>
                                {% if schedule == "none" %}
                                    <a href="{% url 'app:booking' base.pk seat.pk dt.year dt.month dt.day %}">○</a>
                                {% else %}
                                    <a href="{% url 'app:scheduledelete' sche.pop %}">{{ schedule }}</a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    <td>
                    <b>{{ seat }}</b>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
