{% extends 'app/top.html' %}

{% block content %}
<div class="card">
    <h2 class="card-header">{{ base.name }} 座席</h2>
    <h4>　{{ start_day|date:"Y/n/j" }} - {{ end_day|date:"Y/n/j" }}</h4>
    {% if base.map %}
    <center>
    <p class="nav-item"><img src="{{ base.map.url }}" alt=""></p>
    </center>
    {% endif %}
    <table class="table table-bordered text-center" style="table-layout: fixed;width: 100%" border="0">
        <tr>
            <td><a href="{% url 'app:calendar' base.pk before.year before.month before.day %}">前週</a></td>
            {% for day in days %}
                {% if day in public_holidays %}
                    <th style="background-color: lightyellow">{{ day | date:"d(D)" }}</th>
                {% elif day.weekday == 5 %}
                    <th style="color: blue; background-color: rgb(215, 247, 215)">{{ day | date:"d(D)" }}</th>
                {% elif day.weekday == 6 %}
                    <th style="color: red; background-color: rgb(215, 247, 215)">{{ day | date:"d(D)" }}</th>
                {% else %}
                    <th style="background-color: rgb(215, 247, 215)">{{ day | date:"d(D)" }}</th>
                {% endif %}
            {% endfor %}
            <td><a href="{% url 'app:calendar' base.pk next.year next.month next.day %}">次週</a></td>
        </tr>

        {% for seat, schedule in calendar.items %}
            <tr style="font-size:12px">
                <td>
                    <b>{{ seat }}</b>
                    </td>
                        {% for dt, schedule in schedule.items %}
                            <td>
                                {% if schedule == "none" %}
                                    <a href="{% url 'app:booking' base.pk seat.pk dt.year dt.month dt.day %}">○</a>
                                {% else %}
                                    <a href="{% url 'app:scheduledelete' sche.pop %}">{{ schedule }}</a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    <td>
                    <b>{{ seat }}</b>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<!-- 拠点の座席表表示 -->


{% endblock %}
