{% extends 'app/top.html' %}

{% block content %}
<style type="text/css">
    .warp{
    animation: fadein 1s forwards;
    }
    
    @keyframes fadein {
        0% {opacity: 0}
        100% {opacity: 1}
    }    
</style>

<div class="warp">

<center>
    <h1>{{ seatno }}</h1>
    <h5>予約を削除しますか</h5>
    <img src="/media/32+fu.jpg" width="10%" height="10%" border="0" />
    <form method="POST">
        {% csrf_token %}
        <button type="submit">削除</button>
    </form>
</center>

</div>

{% endblock %}
