{% extends 'app/top.html' %}

{% block content %}

<style type="text/css">
/*飯田橋 座席用設定*/
    /*++++ 外枠 ++++*/
    .panelbox2{
        /* flex レイアウト設定 */
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-around;
        /* ボックス設定 */
        width: 500px;
        margin: 20px auto; 
    }

    /*++++ パネル ++++*/
    .panelbox2 a{
        /* flex レイアウト設定 */
        flex: 0 0 auto;
        /* ボックス設定 */
        display: block;
        width: 100px;
        height:75px; line-height: 50px;
        margin: 3px auto;
        box-sizing: border-box;
        border: solid 2px rgb(126, 126, 126);
            border-radius: 4px;
        /* テキスト設定 */
        text-align: center;
        text-decoration: none;
    }
</style>

<div class="card">
    <h2 class="card-header">{{ base.name }} 座席</h2>
    <h4>　{{ start_day|date:"Y/n/j" }}</h4>
    <div class="panelbox2">
        {% for seat, schedule in calendar.items %}
            {% if forloop.counter > 0 and forloop.counter <= 10 %}
                {% for dt, schedule in schedule.items %}
                    {% if schedule == "none" %}
                        <a href="{% url 'app:booking' base.pk seat.pk dt.year dt.month dt.day %}">{{ seat }}○</a>
                    {% else %}
                        <a href="{% url 'app:scheduledelete' sche.pop %}">{{ schedule }}</a>
                    {% endif %} 
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="panelbox2">
        {% for seat, schedule in calendar.items %}
            {% if forloop.counter >= 11 and forloop.counter <= 20 %}
                {% for dt, schedule in schedule.items %}
                    {% if schedule == "none" %}
                        <a href="{% url 'app:booking' base.pk seat.pk dt.year dt.month dt.day %}">{{ seat }}○</a>
                    {% else %}
                        <a href="{% url 'app:scheduledelete' sche.pop %}">{{ schedule }}</a>
                    {% endif %} 
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="panelbox2">
        {% for seat, schedule in calendar.items %}
            {% if forloop.counter >= 21 and forloop.counter <= 30 %}
                {% for dt, schedule in schedule.items %}
                    {% if schedule == "none" %}
                        <a href="{% url 'app:booking' base.pk seat.pk dt.year dt.month dt.day %}">{{ seat }}○</a>
                    {% else %}
                        <a href="{% url 'app:scheduledelete' sche.pop %}">{{ schedule }}</a>
                    {% endif %} 
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
