.a {
    text-decoration: none;
}







.wrap{
    display:flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    /* ボックス設定 */
    /* width: 750px; */
    margin: 30px auto;

  }



