{% extends 'base.html' %}

{% block title %}アカウント作成{% endblock %}
{% block h1 %}アカウント作成{% endblock %}
{% block content %}
<center>
<h2>登録情報</h2>
<form method="post" class="p-4 m-4 bg-light border border-successrounded form-group" style="width: 800px;">
    {% csrf_token %}
    <input type="text" name="username" class="form-control mt-4" placeholder="ユーザー ID">
    <input type="password" name="password1" class="form-control mt-4" placeholder="パスワード">
    <input type="password" name="password2" class="form-control mt-4" placeholder="パスワード確認用">
    <small class="md-2 d-block text-start">パスワードは8文字以上で設定して下さい。</small>
    {% if form.errors %}
        <span class="mb-2 small text-danger d-block text-start">利用できないユーザ ID やパスワードの可能性があります。入力内容を再度ご確認下さい。</span>
    {% endif %}
    <button type="submit" class="btn btn-success m-2">アカウント作成</button>
</form>
</center>
{% endblock %}
